CMakeLists.txt.user*
moc_*
memsgauge
*.depends
CPack*
_CPack_Packages/
install_manifest.txt
CMakeCache*
CMakeFiles/
Makefile
cmake_install.*
*.cbp
*_automoc.cpp
ui_*.h
qrc*_resources.cpp
help.html
*.deb
